.container-filter {
	display: block;
	position: fixed;
	width: fit-content;
	right: 100vw;
	top: 60px;
	background-color: #212529;
	border-radius: 0 0 25px 0;
}

.toggler-filter {
	position: absolute;
	top: 0;
	right: -40px;
	width: 40px;
	height: 60px;
	background-color: #212529 !important;
	border-radius: 0 50% 50% 0;
}

.filter-off-icon {
	background: url("/view/content/icons/filter.svg") no-repeat center center;
	background-size: contain;
	background-origin: content-box;
	padding: 5px;
}

.filter-on-icon {
	background: url("/view/content/icons/chevronLeft.svg") no-repeat center
		center;
	background-size: contain;
	background-origin: content-box;
	padding: 5px;
}

.form-filter {
	padding: 5px;
}

.form-filter input {
	margin-bottom: 5px;
}

.form-filter button {
	margin-right: 5px;
}

@keyframes container-filter-on {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes container-filter-off {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0px);
	}
}

div.filter-on {
	animation: container-filter-on 0.3s linear;
	transform: translateX(100%);
}
div.filter-off {
	animation: container-filter-off 0.3s linear;
	transform: translateX(0px);
}

.tag-wrapper {
	width: 100%;
	position: relative;
}

.tag-remove-icon {
	background: #dc3545 url("/view/content/icons/x.svg") no-repeat center center;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 40px;
	border-radius: 0 0.25rem 0.25rem 0;
}
