.container-filter {
	display: block;
	position: fixed;
	left: 0;
	top: 60px;
	background-color: #212529;
	border-radius: 0 0 25px 0;
}

.toggler-filter {
	position: absolute;
	top: 0;
	right: -40px;
	width: 40px;
	height: 60px;
	background-color: #212529 !important;
	border-radius: 0 50% 50% 0;
}

.chevron-left {
	background: url("/view/content/icons/chevronLeft.svg") no-repeat center
		center;
	background-size: contain;
}

.chevron-down {
	background: url("/view/content/icons/chevronDown.svg") no-repeat center
		center;
	background-size: contain;
}

.form-filter {
	padding: 5px;
}

.form-filter input {
	margin-bottom: 5px;
}

.form-filter button {
	margin-right: 5px;
}

.form-filter-on {
	display: block;
}

.form-filter-off {
	display: none;
}

.tag-wrapper {
	width: 100%;
	position: relative;
}

.tag-remove-icon {
	background: #dc3545 url("/view/content/icons/x.svg") no-repeat center center;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 40px;
	border-radius: 0 0.25rem 0.25rem 0;
}
