<div id="modalConfirmDelete" class="position-fixed top-50 start-50 translate-middle bg-light rounded-3 border"
    style="z-index:1500;">
    <div class="modal-header">
        <h5>Warning</h5>
        <button id="modalConfirmDeleteCross" type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="modal-body">Are you sure you want to delete this post ?</div>
    <div class="modal-footer d-flex">
        <button id="modalConfirmDeleteCancel" class="btn btn-secondary">Cancel</button>
        <button id="modalConfirmDeleteConfirm" class="btn btn-primary">Confirm</button>
    </div>
</div>