<div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="/view/content/icons/info.svg" alt="info.svg" class="rounded me-2 toast-img" style="height:1rem;">
        <strong class="me-auto toast-title">{{title}}</strong>
        <small class="text-muted">{{time}}</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        See? Just like this.
    </div>
</div>