# Apache authentication because some people had the idea of sharing unwanted pictures
AuthType Basic
AuthName "Restricted Content"
AuthUserFile /home/photify/.htpasswd
Require valid-user

# Apache access configuration file
RewriteEngine on

# Redirects all request for /data/* to forbidden
RewriteRule ^(data/.*) - [F]

# Redirects all requests to index.php unless they are file requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]